body
{
    margin-left: 10%;
    margin-right: 10%;
}

.head
{
    display: flex;
    flex-direction: row;
}

.nav-list
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.nav-item
{
    border: 1px solid black;
    width: 10vh;
    height: auto;
    padding: 5px;
    width: 100%;
    align-content: center;
}


.hd 
{
    text-align: center;
    border: 1px solid red;
}

.hd1
{
    width: 30%;
}

.hd2
{
    width: 70%;
}

.text
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

.boxes
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box
{
    border: 1px solid black;
    width: 35%;
    height: 20vh;
}